body,html{
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 0.95em;
	text-align: center;
}
#chart{
	background-color: #fbfbfb;
	border: 1px solid #CCC;
}

body{
	margin: 0;
	padding: 0;
	overflow:hidden;
}

p{
	text-align: center;
	overflow: overlay;
	position: relative;
}


.conceptG text{
	pointer-events: none;
}

marker{
	fill: #333;
}

g.conceptG circle{
	fill: #F6FBFF;
	stroke: #333;
	stroke-width: 2px;
}

g.root circle{
	fill: #5CB85C;
	stroke: #333;
	stroke-width: 2px;
}

g.target circle{
	fill: #d9534f;
	stroke: #333;
	stroke-width: 2px;
}


g.conceptG:hover circle{
	fill: rgb(200, 238, 241);
}

g.selected circle{
	fill: rgb(250, 232, 255);
}
g.selected:hover circle{
	fill: rgb(250, 232, 255);
}

path.link {
	fill: none;
	stroke: #333;
	stroke-width: 8px;
	cursor: default;
}

path.link:hover{
	stroke: rgb(94, 196, 204);
}

g.connect-node circle{
	fill: #BEFFFF;
}

path.link.hidden{
	stroke-width: 0;
}

path.link.selected {
	stroke: rgb(229, 172, 247);
}
